<ion-header>
  <ion-toolbar>
    <ion-title>
      Student Directory
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
    
  <ion-button expand="block" (click)="openModal()">Add Student</ion-button>
  <!-- List of Text Items -->
<ion-list>
  <ion-item color= dark>
    <ion-label>Name</ion-label>
    <ion-label>Stream</ion-label>
    <ion-label>Action</ion-label>
   
    
  </ion-item>

  <ion-item color=primary *ngFor="let student of students"> 
    <ion-label>{{ student.name}}</ion-label>
    <ion-label>{{ student.stream}}</ion-label>
   
    <ion-label>
      <ion-button (click)="edit(student.id)" color=danger>View</ion-button>
      
      
    </ion-label>
  </ion-item>
  
</ion-list>

  
</ion-content>
